@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
background-color: #4a70da9f;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-dot {
  width: 12px;
  height: 12px;
  margin: 4px;
  border-radius: 50%;
  background-color: #4a70da9f;
  animation: bounce 1.0s infinite ease-in-out both, moveUpDown 1.0s infinite ease-in-out both;
}

.spinner-dot:nth-child(1) {
  animation-delay: -0.32s;
}

.spinner-dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes moveUpDown {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
}
